/* Estilos del formulario Venta Alquiler */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-image: url('../CSS/img/Ventas_Alquiler.jpg');
    background-size: 100%;
}

.formulario{
    width: 400px;
    background: rgba(87, 3, 3, 0.6); 
    padding: 20px;
    margin: auto;
    margin-top: 25px;
    font-family: 'Krub', sans-serif; 
    border-radius: 10px;
    color: #000000;
}
.controls{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.formulario .etiqueta{
    font-size: 15px;
    font-family: 'Krub', sans-serif; 
    color: #ffffff; 
}
.formulario .subtitulo{
    font-size: 30px;
    margin-bottom: 30px;
    font-family: 'Krub', sans-serif; 
    color: #ffffff;
    text-align: center;
}

.formulario .tipo_producto{
    font-size: 17px;
    font-family: 'Krub', sans-serif; 
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    padding: 10px;
}
.formulario p{
    height: 20px;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #ffffff;
    font-family: 'Krub', sans-serif;
}

.formulario .botons{
    position: center;
    width: 100%;
    background: #8d1f1f;
    padding: 20px;
    border: none;   
    margin: 16px 0;
    font-family: 'Krub', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.formulario .botons:hover 
{
    cursor: pointer;
}
